.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative; /* Added for positioning the toggle */
}

.App-header table {
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

.App-header th,
.App-header td {
  border: 1px solid #ddd;
  padding: 8px;
}

.App-header th {
  background-color: #f2f2f2;
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

.error-message {
  color: red;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Light Mode */
.light-mode .App-header {
  background-color: #f2f2f2;
  color: #282c34;
}

.light-mode .App-header th {
  background-color: #282c34;
  color: #f2f2f2;
}

.light-mode .App-header td {
  background-color: white;
}

.dark-mode .App-header {
  background-color: #282c34;
  color: white;
}

.dark-mode .App-header th {
  background-color: #f2f2f2;
  color: #282c34;
}

.dark-mode .App-header td {
  background-color: #282c34;
}

/* Position the toggle switch to the top right */
.toggle-switch-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

